In [1]:
import numpy as np
import pandas as pd

In [2]:
data = [[14, 4, 18], [0, 10, 10], [14, 14, 28]]

In [3]:
df = pd.DataFrame(data, columns=["Non-Smoker", "Smoker", "Total"])

In [4]:
df

   Non-Smoker  Smoker  Total
0          14       4     18
1           0      10     10
2          14      14     28

In [5]:
df.index = ["Athlete", 'Non-Athlete', "Total"]

In [6]:
df

             Non-Smoker  Smoker  Total
Athlete              14       4     18
Non-Athlete           0      10     10
Total                14      14     28

In [7]:
ANS = (18*14)/28
AS = (18*14)/28
NANS = (10*14)/28
NAS = (10*14)/28

In [8]:
ANS

9.0

In [9]:
AS

9.0

In [10]:
NANS

5.0

In [11]:
NAS

5.0

In [12]:
df

             Non-Smoker  Smoker  Total
Athlete              14       4     18
Non-Athlete           0      10     10
Total                14      14     28

In [13]:
test_value = (np.square(14-9)/9) + (np.square(4-9)/9) + (np.square(0-5)/5) + (np.square(10-5)/5)

In [14]:
round(test_value, 4)

15.5556

In [15]:
# So here we have to reject null hypothesis bcz test value is very much greater than critical value.